wandb/
.code/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz


*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

ckpts
*.pt
/models/
speech-content-encoder/hubert_22
speech-content-encoder/hubert_22_km_2000
outputs/
speechgr.egg-info/

eval_raw.json
eval_results.json
cache
