wandb/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz


*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

ckpts
*.pt
models
speech-content-encoder/hubert_22
speech-content-encoder/hubert_22_km_2000

eval_raw.json
eval_results.json
cache