torch
torchaudio
joblib
numpy
pandas
rank-bm25==0.2.2
pyarrow<21
tqdm
wandb
sentencepiece
transformers==4.44.2
datasets
huggingface_hub
accelerate
librosa
soundfile
h5py
evaluate
rouge-score # for qg evaluation
